In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,Unnamed: 0,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1073,1073,tt1047540,25000000,119772232,Parental Guidance,Billy Crystal|Bette Midler|Marisa Tomei|Tom Ev...,Andy Fickman,Here come the grandparents. There go the rules.,Artie and Diane agree to look after their thre...,104,Comedy,20th Century Fox|Chernin Entertainment|Walden ...,12/25/2012,5.9,2012
1700,1700,tt0461770,85000000,340487652,Enchanted,Patrick Dempsey|Amy Adams|James Marsden|Timoth...,Kevin Lima,This fairytale princess is about to meet a rea...,The beautiful princess Giselle is banished by ...,107,Comedy|Family|Fantasy|Romance,Walt Disney Pictures|Josephson Entertainment|A...,11/20/2007,6.6,2007
682,682,tt0970411,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,10/7/2008,6.1,2008
704,704,tt1082868,12000000,40855419,Quarantine,Jennifer Carpenter|Steve Harris|Jay Hernandez|...,John Erick Dowdle,Contain The Truth.,A television reporter and her cameraman are tr...,89,Horror|Science Fiction|Thriller,Vertigo Entertainment|Screen Gems|Andale Pictures,10/10/2008,5.3,2008
1406,1406,tt0365485,10000000,17297244,The Matador,Pierce Brosnan|Greg Kinnear|Hope Davis|Portia ...,Richard Shepard,A hitman and a salesman walk into a bar...,"The life of Danny Wright, a salesman forever o...",96,Action|Comedy|Crime|Drama|Thriller,Miramax Films,5/12/2005,6.0,2005

In [7]:
data.describe()

,Unnamed: 0,budget,revenue,runtime,vote_average,release_year
count,1889.000000,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,944.000000,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773
std,545.451648,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841
min,0.000000,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000
25%,472.000000,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000
50%,944.000000,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000
75%,1416.000000,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000
max,1888.000000,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000

# Предобработка

In [14]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [108]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
'''Находим фильм с самым большим бюджетом'''
data[data.budget == data.budget.max()][['original_title']]

                                  original_title
723  Pirates of the Caribbean: On Stranger Tides

In [11]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [118]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Находим самый длинный фильм в мин.'''
runtime_max = data[['original_title', 'runtime']]
runtime_max = runtime_max.query('runtime == runtime.max()')
print(runtime_max)

         original_title  runtime
1157  Gods and Generals      214

In [17]:
answers['2'] = 'Gods and Generals'
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [119]:
import pandas as pd
'''Короткий фильм в мин.'''
runtime_min = data[data.runtime == data.runtime.min()]
runtime_min[['original_title', 'runtime']]
runtime_min

,Unnamed: 0,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [ ]:
answers['3'] = 'Winnie the Pooh' 
answers['3']

# 4. Какова средняя длительность фильмов?

In [120]:
import pandas as pd
'''Средная длина фильма'''
runtime_mean = data.runtime.mean()
round(runtime_mean)

110

In [19]:
answers['4'] = '110'
answers['4']

'110'

# 5. Каково медианное значение длительности фильмов?

In [121]:
'''Медианная длина фильма'''
runtime_median = data.runtime.median()
runtime_median

107.0

In [24]:
answers['5'] = '107'
answers['5']

'107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [122]:
# лучше код получения столбца profit вынести в Предобработку что в начале
'''Формула для нахождения прибыли'''
data['profit'] = data.revenue - data.budget
profit = data[['original_title', 'profit']]
'''Самый прибыльный фильм'''
profit = profit.sort_values('profit', ascending=False).head(1)
profit

    original_title      profit
239         Avatar  2544505847

In [26]:
answers['6'] = 'Avatar'
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [123]:
profit = data[['original_title', 'profit']]
'''Самый убыточный фильм'''
profit = profit.sort_values('profit', ascending=False)
profit = profit.tail(1)
profit

       original_title     profit
1245  The Lone Ranger -165710090

In [34]:
answers['7'] = 'The Lone Ranger'
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [126]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Кол-во фильмов,где сборы выше бюджета'''
revenue_max_budget = data[['original_title', 'revenue', 'budget']]
revenue_max_budget = revenue_max_budget.query('revenue > budget')
len(revenue_max_budget)

1478

In [38]:
answers['8'] = '1478'
answers['8']

'1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [127]:
'''Фильмы за 2008 год'''
revenue = data.query('release_year == 2008')
'''Самый касовый фильм'''
revenue = revenue.sort_values('revenue', ascending=False)
revenue[['original_title', 'revenue']].head(1)

      original_title     revenue
599  The Dark Knight  1001921825

In [42]:
answers['9'] = 'The Dark Knight'
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [128]:
'''Формула для нахождение прибыли'''
data['profit'] = data.revenue - data.budget
'''Фильмы с 2012 по 2014'''
profit = data.query('2012 <= release_year <= 2014')
'''Самый убыточный фильм в этих годах'''
profit = profit.sort_values('profit')[['original_title', 'profit']]
print(profit.head(1))

       original_title     profit
1245  The Lone Ranger -165710090

In [45]:
answers['10'] = 'The Lone Ranger'
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [129]:
import pandas as pd
'''Случайно забыл исправить ответ в тесте 1.3''' 
'''добавьте балл в тесте,если правильно.'''
data = pd.read_csv('movie_bd_v5.csv')
'''Фильм имеющий несколько жанров распределяется на список'''
data = data[['genres']].genres.str.split('|')
genres = list()
'''Элементы каждых списков помещается в один список'''
for index1 in data:
    for index2 in index1:
        genres.append(index2)
'''Самый частый жанр из DataFrame'''
genres = pd.DataFrame({'Genres': genres})
print(genres.value_counts().head(1))

Genres
Drama     782
dtype: int64

In [49]:
answers['11'] = 'Drama'
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [130]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Формула для нахождение прибыли'''
data['profit'] = data.revenue - data.budget
'''Сортируем данные где прибыль не отрицательна'''
profit = data[data.profit > 0][['genres', 'profit']]
'''Сортируем список по убыванию прибыли'''
profit = profit.sort_values('profit', ascending=False)
list_profit = list()
'''Способ позволяющий найти фильм имеющий один жанр'''
for index1 in profit.genres:
    if len(index1.split('|')) == 1:
        list_profit.append(index1)
'''Самый прибыльный жанр'''
profit = pd.DataFrame(list_profit)
print(profit.head(1))

       0
0  Drama

In [54]:
answers['12'] = 'Drama'
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [131]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
director = data[['director', 'revenue']]
'''Сумирование сборов каждого режисера'''
data = director.groupby('director')['revenue'].sum()
'''Самый большая сумма в сборах'''
print(data.sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [ ]:
answers['13'] = 'Peter Jackson'
answers['13']

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [132]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Сортировка фильмов с жанром экшен'''
data = data[data.genres.str.contains('Action')]
data.director = data.director.str.split('|')
director = list()
'''Элементы каждых списков помещается в один список'''
for index1 in data.director:
    for index2 in index1:
        director.append(index2)
'''Режисер снявший много фильмов'''
director = pd.DataFrame(director)
print(director.value_counts().head(1))

Robert Rodriguez    9
dtype: int64

In [17]:
answers['14'] = 'Robert Rodriguez'
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [133]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Сортировка по 2012 году'''
data = data[data.release_year == 2012][['cast', 'revenue']]
data = data.sort_values('revenue', ascending=False).head(1)
data.cast = data.cast.str.split('|')
cast = list()
'''Элементы каждых списков помещается в один список'''
for index1 in data.cast:
    for index2 in index1:
        cast.append(index2)
'''Актир который принес самые касовые сборы'''
cast = pd.DataFrame({'cast': cast})
print(cast.loc[3])

cast    Chris Hemsworth
Name: 3, dtype: object

In [15]:
answers['15'] = 'Chris Hemsworth'
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [134]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Сортировка высокобюджетных фильмов'''
data = data.query('budget > budget.median()')
data.cast = data.cast.str.split('|')
cast = list()
'''Элементы каждых списков помещается в один список'''
for index1 in data.cast:
    for index2 in index1:
        cast.append(index2)
'''Актер,который снялся в большом кол-ве таких фильмов'''
cast = pd.DataFrame({'Cast': cast})
print(cast.value_counts().head(1))

Cast
Matt Damon    22
dtype: int64

In [19]:
answers['16'] = 'Matt Damon'
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [135]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''DataFrame имеющий данные,только с Nicolas Cage'''
data = data[data.cast.str.contains('Nicolas Cage')]
data.genres = data.genres.str.split('|')
genres = list()
'''Элементы каждых списков помещается в один список'''
for index1 in data.genres:
    for index2 in index1:
        genres.append(index2)
'''Самый постоянный жанр где он снимался'''
genres = pd.DataFrame({'Genres': genres})
print(genres.value_counts().head(1))

Genres
Action    17
dtype: int64

In [21]:
answers['17'] = 'Action'
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [136]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Формула для нахождения прибыли'''
data['profit'] = data.revenue - data.budget
'''Сортирока данных только по компании Paramount Pictures'''
companies = data[data.production_companies.str.contains('Paramount Pictures')]
'''Самый убыточный фильм'''
companies = companies.sort_values('profit').head(1)
print(companies[['original_title', 'profit']])

           original_title    profit
925  K-19: The Widowmaker -64831034

In [23]:
answers['18'] = 'K-19: The Widowmaker'
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [137]:
'''Самый успешный год по кассовым сборам'''
revenue = data.groupby('release_year')['revenue'].sum()
print(revenue.sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

In [25]:
answers['19'] = '2015'
answers['19']

'2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [138]:
'''Формула для нахождения прибыли'''
data['profit'] = data.revenue - data.budget
'''Самый прибыльный фильм у Warner Bros'''
revenue = data[data.production_companies.str.contains('Warner Bros')]
revenue = revenue.groupby('release_year')['profit'].sum()
print(revenue.sort_values(ascending=False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

In [27]:
answers['20'] = '2014'
answers['20']

'2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [141]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Дата деня, месяца, года помещаются в один список'''
data.release_date = data.release_date.str.split('/')
'''Все данные становятся данными одного списка'''
release_month = list()
for index1 in data.release_date:
    for index2 in index1:
        release_month.append(index2)
'''Помещение списка в DataFrame и сортировка только месяца'''
'''Вывод самого частого месяца по съемкам'''
release_month = pd.DataFrame({'release_month': release_month})
print(release_month[::3].value_counts().head(1))

release_month
9                227
dtype: int64

In [29]:
answers['21'] = 'сентябрь'
answers['21']

'сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [151]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
'''Дата деня, месяца, года помещаются в один список'''
data.release_date = data.release_date.str.split('/')
'''Все данные становятся данными одного списка'''
release_month = list()
for index1 in data.release_date:
    for index2 in index1:
            release_month.append(index2)
'''Помещение списка в DataFrame и сортировка только месяца'''
'''Суммарное кол-во фильмов летом'''
release_month = pd.DataFrame({'release_month': release_month})
release_month = release_month[::3].value_counts()
release_month = release_month[3:9]
print(release_month[0::3].sum() + release_month[5])

450

In [37]:
answers['22'] = '450'
answers['22']

'450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [155]:
from datetime import datetime
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
directors = data[['director', 'release_date']]
release_date_list = list(directors.release_date)
directors_list = list()
'''Способ позволяющий отфильтровать месяца'''
mounth = '1 2 3 4 5 6 7 8 9 10 11 12'.split()
for i in release_date_list:

    if datetime.strptime(i, "%m/%d/%Y").month == int(mounth[0]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[1]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[2]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[3]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[4]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[5]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[6]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[7]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[8]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[9]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[10]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
    elif datetime.strptime(i, "%m/%d/%Y").month == int(mounth[11]):
        directors_list.append(datetime.strptime(i, "%m/%d/%Y").month)
directors = directors.loc[:, ::2]
directors['release_month'] = directors_list

'''Режисер для кого зима самый продуктивное время года''' 

directors = directors.query('release_month == 12 or 1 <= release_month <= 2')
print(directors.value_counts().head(1))

director       release_month
Peter Jackson  12               7
dtype: int64

In [39]:
answers['23'] = 'Peter Jackson'
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [156]:
original_title = list()
data_movies = list(data.original_title)
'''Способ позволяющий узнать сколько символов'''
for i in data_movies:
    original_title.append(len(i))
data = data[['production_companies']]
data['original_title_length'] = original_title
'''Самый длинный фильм по символам'''
print(data.sort_values('original_title_length', ascending=False).head(1))

                                   production_companies  original_title_length
1448  Twentieth Century Fox Film Corporation|Four By...                     83

In [41]:
answers['24'] = 'Twentieth Century Fox Film Corporation|Four By...'
answers['24']

'Twentieth Century Fox Film Corporation|Four By...'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [158]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
overview = list()
data_overview = list(data.overview)
'''Способ позволяющий узнть сколько букв'''
for i in data_overview:
    overview.append(len(i.split(' ')))
data = data[['production_companies']]
data['overview_length'] = overview
'''Сортировка где должна быть больше средний показатель'''
data = data[data.overview_length >= data.overview_length.mean()]
data = data.sort_values('overview_length', ascending=False).head(1)
'''Компания которая подходит под варианты ответов'''
for i in data.production_companies:
    a = i.split('|')
    print(a[3])

Midnight Picture Show

In [43]:
answers['25'] = 'Midnight Picture Show'
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [161]:
import pandas as pd
import numpy as np
data = pd.read_csv('movie_bd_v5.csv')
data_df = data['vote_average']
'''Способ позволющий найти 1% лучших по рейтингу'''
rate_99 = np.percentile(data_df, 99)
df = data[data_df >= rate_99].sort_values('vote_average', ascending=False)
print(df[['original_title', 'vote_average']])

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

In [46]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
answers['26']

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [169]:
import pandas as pd
import numpy as np
'''Находим данные содержащие эти имена'''
cast1 = data.cast.str.contains('Johnny Depp')
cast2 = data.cast.str.contains('Helena Bonham Carter')
cast3 = data.cast.str.contains('Ben Stiller')
cast4 = data.cast.str.contains('Owen Wilson')
cast5 = data.cast.str.contains('Vin Diesel')
cast6 = data.cast.str.contains('Paul Walker')
cast7 = data.cast.str.contains('Adam Sandler')
cast8 = data.cast.str.contains('Kevin James')
cast9 = data.cast.str.contains('Daniel Radcliffe')
cast10 = data.cast.str.contains('Rupert Grint')
'''Находим совпадений'''
merge_1_2 = data[cast1].merge(data[cast2],on='cast',how='inner')
merge_3_4 = data[cast3].merge(data[cast4],on='cast',how='inner')
merge_5_6 = data[cast5].merge(data[cast6], on='cast', how='inner')
merge_7_8 = data[cast7].merge(data[cast8], on='cast', how='inner')
merge_9_10 = data[cast9].merge(data[cast10], on='cast', how='inner')
'''Кол-во совпадений'''
print('Johnny Depp & Helena Bonham Carter: ' + str(len(merge_1_2[['cast']])))
print('Ben Stiller & Owen Wilson: ' + str(len(merge_3_4[['cast']])))
print('Vin Diesel & Paul Walker: ' + str(len(merge_5_6[['cast']])))
print('Adam Sandler & Kevin James: ' + str(len(merge_7_8[['cast']])))
print('Daniel Radcliff & Rupert Grint: ' + str(len(merge_9_10[['cast']])))

Johnny Depp & Helena Bonham Carter: 6
Ben Stiller & Owen Wilson: 6
Vin Diesel & Paul Walker: 5
Adam Sandler & Kevin James: 5
Daniel Radcliff & Rupert Grint: 8

In [163]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)