In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [112]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data.copy()
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
266,tt0974661,20000000,136267476,17 Again,Zac Efron|Leslie Mann|Matthew Perry|Tyler Stee...,Burr Steers,Who says you're only young once?,"On the brink of a midlife crisis, 30-something...",102,Comedy,New Line Cinema|Offspring Entertainment,3/11/2009,6.0,2009,116267476
1169,tt0313911,28000000,58795814,Agent Cody Banks,Frankie Muniz|Hilary Duff|Angie Harmon|Keith D...,Harald Zwart,Save the world. Get the girl. Pass math.,Recruited by the U.S. government to be a speci...,102,Action,Splendid Pictures|Maverick Films|Metro-Goldwyn...,3/12/2003,4.9,2003,30795814
906,tt0166813,80000000,122563539,Spirit: Stallion of the Cimarron,Matt Damon|James Cromwell|Daniel Studi|Chopper...,Kelly Asbury|Lorna Cook,Leader. Hero. Legend.,As a wild stallion travels across the frontier...,83,Western|Animation|Adventure|Comedy|Family,DreamWorks Animation,5/24/2002,7.1,2002,42563539
1568,tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004,247451894
1244,tt2388715,5000000,44030246,Oculus,Katee Sackhoff|Karen Gillan|Brenton Thwaites|J...,Mike Flanagan,You see what it wants you to see,A woman tries to exonerate her brother's murde...,104,Horror,Intrepid Pictures|Blumhouse Productions|Relati...,9/8/2013,6.2,2013,39030246

In [43]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [44]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [45]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [46]:
# тут пишем ваш код для решения данного вопроса:
data = data.copy()
# Находим фильм с самым большим бюджетом
data[data.budget == data.budget.max()][['original_title']]

                                  original_title
723  Pirates of the Caribbean: On Stranger Tides

In [47]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [48]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [49]:
# Находим самый длинный фильм в мин.
runtime_max = data[['original_title', 'runtime']]
runtime_max = runtime_max.query('runtime == runtime.max()')
print(runtime_max)

         original_title  runtime
1157  Gods and Generals      214

In [50]:
answers['2'] = 'Gods and Generals'
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [51]:
# Короткий фильм в мин.
runtime_min = data[data.runtime == data.runtime.min()]
runtime_min[['original_title', 'runtime']]
runtime_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [52]:
answers['3'] = 'Winnie the Pooh' 
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [53]:
# Средная длина фильма
runtime_mean = data.runtime.mean()
round(runtime_mean)

110

In [54]:
answers['4'] = '110'
answers['4']

'110'

# 5. Каково медианное значение длительности фильмов?

In [55]:
# Медианная длина фильма
runtime_median = data.runtime.median()
runtime_median

107.0

In [56]:
answers['5'] = '107'
answers['5']

'107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [57]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# Формула для нахождения прибыли
profit = data[['original_title', 'profit']]
# Самый прибыльный фильм
profit = profit.sort_values('profit', ascending=False).head(1)
profit

    original_title      profit
239         Avatar  2544505847

In [58]:
answers['6'] = 'Avatar'
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [59]:
# Самый убыточный фильм
profit = profit.sort_values('profit', ascending=False)
profit = profit.tail(1)
profit

    original_title      profit
239         Avatar  2544505847

In [60]:
answers['7'] = 'The Lone Ranger'
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [61]:
# Кол-во фильмов,где сборы выше бюджета
revenue_max_budget = data[['original_title', 'revenue', 'budget']]
revenue_max_budget = revenue_max_budget.query('revenue > budget')
len(revenue_max_budget)

1478

In [62]:
answers['8'] = '1478'
answers['8']

'1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [63]:
# Фильмы за 2008 год
revenue = data.query('release_year == 2008')
# Самый касовый фильм
revenue = revenue.sort_values('revenue', ascending=False)
revenue[['original_title', 'revenue']].head(1)

      original_title     revenue
599  The Dark Knight  1001921825

In [64]:
answers['9'] = 'The Dark Knight'
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [65]:
# Фильмы с 2012 по 2014
profit = data.query('2012 <= release_year <= 2014')
# Самый убыточный фильм в этих годах
profit = profit.sort_values('profit')[['original_title', 'profit']]
print(profit.head(1))

       original_title     profit
1245  The Lone Ranger -165710090

In [66]:
answers['10'] = 'The Lone Ranger'
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [67]:
data = data.copy()
# Фильм имеющий несколько жанров распределяется на список
data = data[['genres']].genres.str.split('|')
# Элементы каждых списков помещается в один список
data = data.explode('genres')
# Самый частый жанр из DataFrame
data.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [68]:
answers['11'] = 'Drama'
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [109]:
# Сортируем данные где прибыль не отрицательна
profit = data[data.profit > 0][['genres', 'profit']]
# Сортируем список по убыванию прибыли
profit = profit.sort_values('profit', ascending=False)
list_profit = list()
# Способ позволяющий найти фильм имеющий один жанр
for index1 in profit.genres:
    if len(index1.split('|')) == 1:
        list_profit.append(index1)
# Самый прибыльный жанр
profit = pd.DataFrame(list_profit)
print(profit.head(1))

       0
0  Drama

In [35]:
answers['12'] = 'Drama'
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [39]:
# Сумирование сборов каждого режисера
data = data.groupby('director')['revenue'].sum()
# Самый большая сумма в сборах
print(data.sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [40]:
answers['13'] = 'Peter Jackson'
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [71]:
# Сортировка фильмов с жанром экшен
data = data[data.genres.str.contains('Action')]
data.director = data.director.str.split('|')
# Элементы каждых списков помещается в один столбец
data = data.explode('director')
# Режисер снявший много фильмов
print(data['director'].value_counts().head(1))

Robert Rodriguez    9
Name: director, dtype: int64

In [17]:
answers['14'] = 'Robert Rodriguez'
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [72]:
# Сортировка по 2012 году
data = data[data.release_year == 2012][['cast', 'revenue']]
data.cast = data.cast.str.split('|')
# Элементы каждых списков помещается в один столбец
data = data.explode('cast')
# Актир который принес самые касовые сборы
data.sort_values('revenue', ascending=False).iloc[2]

cast       Chris Hemsworth
revenue         1519557910
Name: 970, dtype: object

In [73]:
answers['15'] = 'Chris Hemsworth'
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [76]:
data = data.copy()
# Сортировка высокобюджетных фильмов
data = data.query('budget > budget.median()')
data.cast = data.cast.str.split('|')
# Элементы каждых списков помещается в один столбец
data = data.explode('cast')
# Актер,который снялся в большом кол-ве таких фильмов
print(data['cast'].value_counts().head(1))

Matt Damon    22
Name: cast, dtype: int64

In [25]:
answers['16'] = 'Matt Damon'
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [77]:
# DataFrame имеющий данные,только с Nicolas Cage
data = data[data.cast.str.contains('Nicolas Cage')]
data.genres = data.genres.str.split('|')
# Элементы каждых списков помещается в один столбец
data = data.explode('genres')
# Самый постоянный жанр где он снимался
data['genres'].value_counts().head(1)

Action    13
Name: genres, dtype: int64

In [78]:
answers['17'] = 'Action'
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [92]:
# Сортирока данных только по компании Paramount Pictures
companies = data[data.production_companies.str.contains('Paramount Pictures')]
# Самый убыточный фильм
companies = companies.sort_values('profit').head(1)
print(companies[['original_title', 'profit']])

           original_title    profit
925  K-19: The Widowmaker -64831034

In [93]:
answers['18'] = 'K-19: The Widowmaker'
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
# Самый успешный год по кассовым сборам
revenue = data.groupby('release_year')['revenue'].sum()
print(revenue.sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

In [95]:
answers['19'] = '2015'
answers['19']

'2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [96]:
# Самый прибыльный фильм у Warner Bros
revenue = data[data.production_companies.str.contains('Warner Bros')]
revenue = revenue.groupby('release_year')['profit'].sum()
print(revenue.sort_values(ascending=False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

In [97]:
answers['20'] = '2014'
answers['20']

'2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [98]:
# Дата деня, месяца, года помещаются в один список
data.release_date = data.release_date.str.split('/')
# Все данные становятся данными одного списка
data = data.explode('release_date')
# Помещение списка в DataFrame и сортировка только месяца
# Вывод самого частого месяца по съемкам
print(data['release_date'][::3].value_counts().head(1))

9    227
Name: release_date, dtype: int64

In [99]:
answers['21'] = 'сентябрь'
answers['21']

'сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [100]:
# Дата деня, месяца, года помещаются в один список
data.release_date = data.release_date.str.split('/')
# Все данные становятся данными одного списка
data = data.explode('release_date')
# Помещение списка в DataFrame и сортировка только месяца
# Вывод самого частого месяца по съемкам
data = data['release_date'][::3].value_counts()
data = data[3:9]
print(data[0::3].sum() + data[5])

450

In [101]:
answers['22'] = '450'
answers['22']

'450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [104]:
# В release_date оставляем только месяца
release_date = pd.to_datetime(data.release_date)
data['release_month'] = release_date.dt.month
print(data[['director', 'release_month']].value_counts().head(1))

director       release_month
Peter Jackson  12               7
dtype: int64

In [39]:
answers['23'] = 'Peter Jackson'
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [105]:
original_title = list()
data_movies = list(data.original_title)
# Способ позволяющий узнать сколько символов
for i in data_movies:
    original_title.append(len(i))
data = data[['production_companies']]
data['original_title_length'] = original_title
# Самый длинный фильм по символам
print(data.sort_values('original_title_length', ascending=False).head(1))

                                   production_companies  original_title_length
1448  Twentieth Century Fox Film Corporation|Four By...                     83

In [106]:
answers['24'] = 'Twentieth Century Fox Film Corporation|Four By...'
answers['24']

'Twentieth Century Fox Film Corporation|Four By...'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [110]:
overview = list()
data_overview = list(data.overview)
# Способ позволяющий узнть сколько букв
for i in data_overview:
    overview.append(len(i.split(' ')))
data = data[['production_companies']]
data['overview_length'] = overview
# Сортировка где должна быть больше средний показатель
data = data[data.overview_length >= data.overview_length.mean()]
data = data.sort_values('overview_length', ascending=False).head(1)
# Компания которая подходит под варианты ответов
for i in data.production_companies:
    a = i.split('|')
    print(a[3])

Midnight Picture Show

In [43]:
answers['25'] = 'Midnight Picture Show'
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [113]:
data_df = data['vote_average']
# Способ позволющий найти 1% лучших по рейтингу
rate_99 = np.percentile(data_df, 99)
df = data[data_df >= rate_99].sort_values('vote_average', ascending=False)
print(df[['original_title', 'vote_average']])

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

In [114]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
answers['26']

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [115]:
# актеры чаще всего снимаются в одном фильме вместе
data = data.copy()
data['cast'] = data.cast.str.split('|')
data.cast = data.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
data.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

In [116]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)